button {
    background-color: darkslategrey;
    border: 6px lightpink groove; 
    color: lightpink;
    text-align: center;    
    font-size: 16px;
}

button.test-button {
    padding: 20px;
    border: 15px lightpink solid;
    border-radius: 7px;
}

button.test-button:hover {
    background-color: gray;
    border-color: pink
}

button.margin-button {
    margin: 10px;
}

div#margin-div {
    display: inline-block;
    border: 1px black solid;
}

footer{
    background-color: blanchedalmond;
    text-align: center;
}

header {
    background-color: beige;
    text-align: center;
}

header p {
    font-weight: bold;
    font-size: 110%;
}

h1.foo {
    text-align: center;
}

h1{
    text-align: center;
}

main {
    background-color: ivory;
}

.byline {
    font-style: italic;
    font-size: 90%;
}

img#listbuttonutah {
    width: 100px;
    height: 100px;
    float: left;
    margin: 20px;
}
