aside {
    border: 1px darkslategray;
    border-radius: 6px;
    font-style: italic;
    float: right;
    background-color: lightpink;
    width: 33%;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

button {
    background-color: darkslategrey;
    border: 6px lightpink groove; 
    color: lightpink;
    text-align: center;    
    font-size: 20px;
}

button.test-button {
    padding: 25px;
    border-radius: 35px;
}

button.test-button:hover {
    background-color: grey;
    border-color: white;
}

button.margin-button {
    margin: 25px;
}

div.elf-border {
    border: 1px black solid;
    display: inline-block;
}

footer{
    background-color: blanchedalmond;
    text-align: center;
}

header {
    background-color: beige;
    text-align: center;
}

header p {
    font-weight: bold;
    font-size: 110%;
}

h1.foo {
    text-align: center;
}

h1.new-point {
    text-align: center;
}

main {
    background-color: ivory;
}

.byline {
    font-style: italic;
    font-size: 90%;
}

img#listbuttonutah {
    width: 100px;
    height: 100px;
    float: left;
    padding: 10px;
}
