body {
    font-size: 25px;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 150px;
}

header {
    font-weight: 8;
    line-height: 1.2;
    color: rgb(94, 94, 94);
    text-align: center;
}

footer {
    text-align: center;
}

button {
    background-color: darkslategrey;
    border: 6px lightpink groove; 
    color: lightpink;
    text-align: center;    
    font-size: 20px;
}

button:hover {
    background-color: grey;
    border-color: white;
}

p {
    font-size: 25px;
    font-family: sans-serif;
}

li {  
    display: inline-block;
    list-style-type: none;
}

.blueBackground {
    background-color: rgb(180, 210, 235);
}

.whiteBackground {
    background-color: rgb(255, 255, 255);
}  

.pinkBackground {
    background-color: rgb(255, 188, 227);
}

.lilacBackground {
    background-color: rgb(241, 183, 237);
}

.salmonBackground {
    background-color: rgb(255, 201, 169);
}