body {
    font-size: 133%;
    font-family: sans-serif;
    line-height: 1.5;
    background: #f9f9f9;
    margin: 150px;
  }

.byline {
    font-style: italic;
    font-size: 90%;
}

footer {
    background-color: #535353;
    color: white;
    text-align: center;
}

header {
    background-color: #535353;
    color: white;
    text-align: center;
    font-size: 150%
}


#bobahome {
    width: 130px;
    height: 100px;
    margin-right: 10px;
    float: left;
}

main {    
    font-size: 130%;
    padding: 30px;
}

main.h1 {
    font-size: 40px;
    text-align: left;
}

nav {        
    background-color: rgb(255, 210, 217);
    border: 1px darkslategrey;
    padding: 8px;
    margin: -1px 0px 0px 0px;
    font-size: 130%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}

